crowdin.yaml
**/libs/armeabi*
**/libs/x86
**/build
**/local.properties
**/buildtools
upload.py
.DS_Store
!.gitlab-ci.yml
!.gitignore
!.pre-commit-config.yaml
**/src/main/res/raw/subscriptions.json

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
.gradle
/.idea/*

# IDEA/Android Studio Ignore exceptions
!/.idea/vcs.xml
!/.idea/inspectionProfiles/
!/.idea/codeStyles/
!/.idea/copyright/